<p>
  <strong>Name:</strong>
  <%= @place.name %>
</p>
 
<p>
  <strong>Name:</strong>
  <%= @placee.text %>
</p>



<%= link_to 'Edit', edit_placee_path(@placee) %> |
<%= link_to 'Back', placeses_path %>
<%=link_to 'Delete', place_path, method: :delete %>